* {
    margin: 0;
    border:0;
    padding: 0;
}
.wrapper {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    background:lightsteelblue;
    color: white;
    font-size: 20px;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background: #f1f6f8;
}

.navigation a {
    float: right;
    text-align: center; 
    color:black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
.navigation a:active{
    background-color: #f1f1f1;
    color: azure;
}
.navigation a:hover {
    color: black;
    background-color:white;
}
.navigation {
    float: right;
    
}
h1 {
    padding-top: 3%;
    margin-bottom: 2%;
    background-color:lightskyblue;
    
}


div.polaroid {
    width: 80%;
    margin-bottom: 60px;
    padding-left: 5%;
   
  }
  .team3 {
    float: left;
    width: 30.3%;
    height:20%;
    margin-right: 2.5%;
    text-indent: 2%;
    background-color: white;
    text-align: center;
    padding-top: 2%;
  }
  
  .team1 {
    float: left;
    width: 30.3%;
    height:20%;
    margin-right: 2.5%;
    text-indent: 2%;
    background-color: white;
    text-align: center;
    padding-top: 2%;
  }
  .team2 {
    float: left;
    width: 30.3%;
    height:20%;
    margin-right: 2.5%;
    text-indent: 2%;
    background-color: white;
    text-align: center;
    padding-top: 2%;
  }

  

  .button {
    border:none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  
  }
  #image1,#image2  {
    float: right;    
     margin: 0 15px 0 0;
    }
    .footer {
      background-color: skyblue;
      padding-top: 100px;
      position: relative;
      height: 100px;
      margin-top:10px;
      clear: both;
  }
  .footer p {
      float: left;
      text-align: center;
  }
 
  @media only screen and (max-width: 600px) {
    
  } 